/*COLOR SAMPLES*/

body{
	background: linear-gradient(to bottom, rgba(204,229,255),rgba(204,229,255, .4));
	font-size: ;

	/*text-transform: capitalize;/*Capitalize all the text in the body*/
	/*text-transform: uppercase;/*Uppercase all the text in the body*/

	/*text-align: center;*/
	font-size: 1.15em;
	text-align: justify;/* Set all of the lines to the same length*/
	/*font-family:  sans-serif;/* better readable style*/ 
	/*font-family:  "serif;*/

	font-family:"Lato",sans-serif;

}

#title {

	color: blue;
	font-family: 'Roboto Condensed', sans-serif; 

}

.subtitle {

	color: rgb(44, 123, 201);
	font-family: 'Source Sans Pro', sans-serif;
}
#service-image {

	height: 400px;
	width: 70vw;
	background: radial-gradient(circle,red 20%, blue 40%, green 55%);
	/*border: size style color; three properties*/
	/*border: 10px solid rgb(150,174,205); */
	/*border: 10px dashed red;*/
	/*border: 10px double rgb(28,25,79);*/
	border: 10px solid rgb(28,25,79);

	/*float: right;*/
}
.link{

	/*text-decoration: none;/* removes de under line*/
	text-decoration: underline:/* adds underline or normal for link*/;
	/*text-decoration: line-through; /* marks a line through*/
	/*text-decoration: overline; /* puts a line on top*/
	/*float: right;*/
}
.italics {

	/*font-style: italic;*/
	font-style: oblique; 
}

#about-us-image {

	height: 300px;
	width: 60%;

	border: 5px solid rgb(28,28,79);
	/*padding-right:  40px;
	padding-top: 100px;
	padding-bottom: 5px;*/
	/*padding: 100px 40px 5px 0px; /* top , right, bottom, left */
	/*margin: 40px;*/
	/*margin: 100px 40px 5px 0px; /* top , right, bottom, left */
	margin: 80px 40px; /* Only two values:; 80px is for top & bottom 40px is for left and right*/
	float: right;
}

.site-table{

	/*display: none;/* will make disapear the table or remove it*/

	display: inline-block;
	/*display: inline;*/
}
.container{
	background-color: rgb(250,250,250,);
	margin: 10px;
	display: flex;/* the default is row.*/
	/*flex-direction: column;*/
	/*flex-direction: column-reverse;/* set column in reverse*/
	flex-direction: row-reverse;
}

.container-item {

	background-color: rgb(36,130,39);
	color: white;
	font-size: 25px;
	text-align: center;

	width: 70px;
	line-height: 50px;
	margin: 10px;


}











/* ///SELECTORS SAMPLES
h2:hover{

	color: red;
}

h2[class=subtitle]{

	color: blue;
}
#services{

	color: green;
}

li:only-child{

	color:purple;
}

td:only-child{

	color: purple;
}

#google-link:link{

	color: blue;
}
#google-link:visited{

	color:red;
}

h2 + a {

	color:red;
}

textarea ~ button{

	color: purple;
}

ul > li {

	color: blue;
}

ul li {
	color: green;
}
^ will apply style  all start with "../img/"  
 $ will apply style when ends with "../img/"  
the start * will select anywhere 
img[src*="../img/"]{
	border: 10px solid black;
}

h2[ class~= article-subtitle]{

	background: green;
}
h2[ class|= article-subtitle]{

	background: green;
}

*/
