/*COLOR SAMPLES*/

body{
	background: linear-gradient(to bottom, rgba(204,229,255),rgba(204,229,255, .4));
	font-size: ;

	/*text-transform: capitalize;/*Capitalize all the text in the body*/
	text-transform: uppercase;/*Uppercase all the text in the body*/

	/*text-align: center;*/
	text-align: justify;/* Set all of the lines to the same length*/

}
}

#title {

	color: rgb(14, 18, 237);
}

.subtitle {

	color: rgb(44, 123, 201);
}
#service-image {

	height: 400px;
	width: 70vw;
	background: radial-gradient(circle,red 20%, blue 40%, green 55%)
}

.link{

	/*text-decoration: none;/* removes de under line*/
	text-decoration: underline:/* adds underline or normal for link*/;
	/*text-decoration: line-through; /* marks a line through*/
	/*text-decoration: overline; /* puts a line on top*/


}














/* ///SELECTORS SAMPLES
h2:hover{

	color: red;
}

h2[class=subtitle]{

	color: blue;
}
#services{

	color: green;
}

li:only-child{

	color:purple;
}

td:only-child{

	color: purple;
}

#google-link:link{

	color: blue;
}
#google-link:visited{

	color:red;
}

h2 + a {

	color:red;
}

textarea ~ button{

	color: purple;
}

ul > li {

	color: blue;
}

ul li {
	color: green;
}
^ will apply style  all start with "../img/"  
 $ will apply style when ends with "../img/"  
the start * will select anywhere 
img[src*="../img/"]{
	border: 10px solid black;
}

h2[ class~= article-subtitle]{

	background: green;
}
h2[ class|= article-subtitle]{

	background: green;
}

*/
